
body {
    font: 400 15px Lato, sans-serif;
}

.jumbotron {
    background: url('MitchelCover.jpg') no-repeat center 20%;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  padding: 100px 25px;
  background-color: rgb(64, 105, 228);
}

#header {
    padding: 230px 25px;
}

#about {
    padding: 0 0 50px 250px;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

#question {
    padding: 200px 75px 0 400px;
    font-size: 200px;
    color: royalblue;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: royalblue;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: royalblue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}



.panel.panel-help {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    padding-bottom: 0;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 0 16px;
      outline: none;
      cursor: pointer;
      text-decoration: none;
    }
    .panel-heading {
      background-color: #fff;
      padding: 0 16px;
      line-height: 48px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
      color: royalblue;
      
    }

    .panel-heading h2 {      
        margin: 0;
        padding: 14px 0 14px;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-transform: none;
      }
    .panel-body {
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-radius: 2px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: 0;
    }

    .panel-body p {
        margin: 0 0 16px;
    }

    .slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}